<div class="tarkin-panel white">

  <% unless @directory.root? %>
    <div class="row directory highlightable">
      <div class="large-3 medium-5 small-5 columns font-terminal">
        <%= link_to_parent_directory @directory %> 
      </div>
      <div class="large-3 medium-5 small-5 columns">
      </div>
      <div class="large-5 columns hide-for-medium hide-for-small tarkin-groups">
        <!-- <em>parent directory</em> -->
      </div>
      <div class="medium-1 small-2 columns text-right">
        &nbsp;
      </div>
    </div>
  <% end %>

  <% current_user.ls_dirs(@directory).each do |directory| %>
    <div class="row directory highlightable" data-type="dir" data-id="<%=directory.id%>">
      <div class="large-3 medium-5 small-5 columns font-terminal">
        <%= relative_link_to_directory directory %> 
      </div>
      <div class="large-3 medium-5 small-5 columns">
      </div>
      <div class="medium-5 columns hide-for-medium hide-for-small tarkin-groups">
        <%= groups_for_directory directory %>
      </div>
      <div class="medium-1 small-2 columns text-right">
        <div class="switch tiny round">
          <input id="dir_switch_<%=directory.id%>" type="checkbox" class="favorite-switch" <%="checked" if current_user.favorite? directory%> data-type="dir" data-id="<%=directory.id%>">
          <label for="dir_switch_<%=directory.id%>"></label>
        </div> 
      </div>
    </div>
  <% end %>

  <% current_user.ls_items(@directory).each do |item| %>
    <div class="row item highlightable data-type="item" data-id="<%=item.id%>"">
      <div class="large-3 medium-5 small-5 columns font-terminal">
        <%= item.username %>
      </div>
      <div class="large-3 medium-5 small-5 columns password-row">
        <div id="item_<%=item.id%>" class="password font-terminal">
        </div>
      </div>
      <div class="medium-5 columns hide-for-medium hide-for-small tarkin-groups">
        <%= groups_for_item item %>
      </div>
      <div class="medium-1 small-2 columns text-right">
        <div class="switch tiny round">
          <input id="switch_<%=item.id%>" type="checkbox" class="favorite-switch" <%="checked" if current_user.favorite? item%> data-type="item" data-id="<%=item.id%>">
          <label for="switch_<%=item.id%>"></label>
        </div> 
      </div>
    </div>
  <% end %>

</div>
