<div class="large-6 medium-12 columns font-terminal">
  <%= relative_link_to_directory directory %> 
</div>
<!-- 
<div class="large-3 medium-6 small-6 columns">
</div>
 -->
<div class="large-6 columns hide-for-medium hide-for-small tarkin-groups tarkin-description" data-dropdown="drop_<%=directory.id%>" data-options="align:bottom"><%= directory.description %></div>
<div id="drop_<%=directory.id%>" data-dropdown-content class="medium content f-dropdown" aria-hidden="true" tabindex="-1">
  <%= simple_format directory.description %>
</div>
