<div class="tarkin-panel white">

  <% unless @directory.root? %>
    <div class="row directory highlightable">
      <div class="medium-4 columns">
        <%= link_to_parent_directory @directory %> 
      </div>
      <div class="medium-8 columns hide-for-small">
        parent directory
      </div>
    </div>
  <% end %>

  <% current_user.ls_dirs(@directory).each do |directory| %>
    <div class="row directory highlightable">
      <div class="medium-4 columns">
        <%= relative_link_to_directory directory %> 
      </div>
      <div class="medium-8 columns hide-for-small">
        <%= groups_for_directory directory %>
      </div>
    </div>
  <% end %>

  <% current_user.ls_items(@directory).each do |item| %>
    <div class="row item highlightable">
      <div class="medium-4 columns">
        <%= item.username %>
      </div>
      <div class="medium-8 columns hide-for-small password-row">
        <span id="item[<%=item.id%>]" class="password">
        </span>
      </div>
    </div>
  <% end %>

</div>