<div class="tarkin-panel white">

  <% unless @directory.root? %>
    <div class="row directory highlightable">
      <div class="large-3 medium-5 small-5 columns font-terminal">
        <%= link_to_parent_directory @directory %> 
      </div>
      <div class="large-3 medium-5 small-5 columns">
      </div>
      <div class="large-5 columns hide-for-medium hide-for-small tarkin-groups">
        <!-- <em>parent directory</em> -->
      </div>
      <div class="large-1 medium-2 small-2 columns text-right">
        &nbsp;
      </div>
    </div>
  <% end %>

  <div id="dirs" class="sortable">
    <% current_user.ls_dirs(@directory).each do |directory| %>      
      <%= render partial: 'directory_row', locals: {directory: directory} %>
    <% end %>
  </div>

  <div id="items" class="sortable">
    <% current_user.ls_items(@directory).each do |item| %>
      <%= render partial: 'items/item_row', locals: {item: item} %>
    <% end %>
  </div>
</div>

<div class="tarkin-panel white buttons-panel hidden">
  <div class="row">
    <div class="medium-12 columns">
      <ul class="button-group">

        <li>
          <%= form_tag new_item_path, method: :get, remote: true, action: :new, role: :form, 'data-model' => 'directory', "data-abide" => true do %>
              <%= hidden_field_tag 'parent_id', @directory.id %>
              <%= button_tag type: :submit, class: 'button small', "data-type"=>"item" do %>
              <i class="fi-page-add"></i> New Item
            <% end %>
          <% end %>
        </li>

        <li>
          <%= form_tag new_directory_path, method: :get, remote: true, action: :new, role: :form, 'data-model' => 'directory', "data-abide" => true do %>
              <%= hidden_field_tag 'parent_id', @directory.id %>
              <%= button_tag type: :submit, class: 'button small', "data-type"=>"dir" do %>
              <i class="fi-folder-add"></i> New Directory
            <% end %>
          <% end %>
        </li>

      </ul>
    </div>
  </div>
</div>

<div id="edit-modal-holder">
  <% ##, locals: {modal: true, parent_directory: @directory, editing_directory: @new_directory, groups: @groups, action: :create } %>
  <%= render partial: 'modal' %>
</div>

<div id="about-modal-holder">
  <%= render partial: 'about' %>
</div>

