<div class="tarkin-panel white">

  <% unless @directory.root? %>
    <div class="row directory highlightable">
      <div class="large-3 medium-5 small-5 columns font-terminal">
        <%= link_to_parent_directory @directory %> 
      </div>
      <div class="large-3 medium-5 small-5 columns">
      </div>
      <div class="large-5 columns hide-for-medium hide-for-small tarkin-groups">
        <!-- <em>parent directory</em> -->
      </div>
      <div class="large-1 medium-2 small-2 columns text-right">
        &nbsp;
      </div>
    </div>
  <% end %>

  <div id="dirs">
    <% current_user.ls_dirs(@directory).each do |directory| %>
      <div id="dir_<%=directory.id%>">
        <%= render partial: 'directory_row', locals: {directory: directory} %>
      </div>
    <% end %>
  </div>

  <% current_user.ls_items(@directory).each do |item| %>
    <%= render partial: 'items/item_row', locals: {item: item} %>
  <% end %>
</div>

<div class="tarkin-panel white buttons-panel hidden">
  <div class="row">
    <div class="medium-12 columns">
      <ul class="button-group round ">
        <li><a class="button small"><i class="fi-page-add"></i> New Item</a></li>
        <li><a class="button small" data-reveal-id="new-directory-modal"><i class="fi-folder-add"></i> New Directory</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="edit-directory-modal-holder">
  <%= render partial: 'modal', locals: {modal: true, parent_directory: @directory, editing_directory: @new_directory, groups: @groups, action: :create } %>
</div>

