<div class="row directory highlightable" data-type="dir" data-id="<%=directory.id%>">
  <div class="large-3 medium-5 small-5 columns font-terminal">
    <%= relative_link_to_directory directory %> 
  </div>
  <div class="large-3 medium-5 small-5 columns">
  </div>
  <div class="large-5 columns hide-for-medium hide-for-small tarkin-groups">
    <%= groups_for_directory directory %>
  </div>
  <div class="large-1 medium-2 small-2 columns text-right">
    <div class="switch tiny round favorite-switch">
      <input id="dir_switch_<%=directory.id%>" type="checkbox" class="favorite-switch" <%="checked" if current_user.favorite? directory%> data-type="dir" data-id="<%=directory.id%>">
      <label for="dir_switch_<%=directory.id%>"></label>
    </div>
    <%= form_tag edit_directory_path(directory.id), method: :get, remote: true, action: :edit, html: {role: :form, 'data-model' => 'directory', "data-abide" => true} do %>
      <%= button_tag type: :submit, class: 'button tiny round edit-button hidden', "data-type"=>"dir", "data-id"=>directory.id do %>
        <i class="fi-page-edit"></i>edit
      <% end %>
    <% end %>
  </div>
</div>
