<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@new_directory, remote: remote, action: :create, html: {role: :form, 'data-model' => 'directory', "data-abide" => true}) do |f| %>
  <div class="row">
    <div class="panel radius">

      <div class="row">
        <div class="medium-3 small-2 columns">
          <%= f.label :name, class: "right inline" %>
        </div>
        <div class="medium-9 small-10 columns">
          <%= f.text_field :name, placeholder: 'group name', required: true %>
          <small class="error help-block">Directory name is required.</small>
        </div>
      </div>

      <div class="row">
        <div class="medium-3 small-2 columns">
          <%= f.label :description, class: "right inline" %>
        </div>
        <div class="medium-9 small-10 columns">
          <%= f.text_field :description, placeholder: 'can be empty', required: false %>
        </div>
      </div>

      <div class="row">
        <div class="medium-3 small-2 columns">
        </div>
      <div class="medium-9 small-10 columns">
        <%= hidden_field_tag :parent_id, @directory.id %>
        <ul class="button-group round">
          <li>
            <%= button_tag type: :submit, class: 'button round small' do %>
              <i class="fi-check"></i> OK
            <% end %>
          </li>
          <li><a id="new-directory-form-close-button" class="button round small alert"><i class="fi-x"></i> Cancel</a></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

