<% modal ||= false %>
<% remote = modal ? true : false %>
<% parent_directory ||= @directory %>
<% editing_directory ||= @new_directory %>

<%= form_for(editing_directory, remote: remote, action: action, html: {"data-abide" => true}) do |f| %>
  <div class="row panel radius">
    <div class="large-7 columns white-panel radius">

      <div class="row">
        <div class="medium-2 columns text-right hide-for-small">
          <%= f.label :name, class: "right inline" %>
        </div>
        <div class="medium-10 columns">
          <%= f.text_field :name, placeholder: 'directory name', required: true %>
        </div>
      </div>

      <div class="row">
        <div class="medium-2 columns text-right hide-for-small">
          <%= f.label :description, class: "right inline" %>
        </div>
        <div class="medium-10 columns">
          <%= f.text_area :description, placeholder: 'description, can be empty', required: false, rows: 5 %>
        </div>
      </div>

    </div>

    <div class="large-5 columns white-panel radius">
      <%= render partial: 'directories/groups', locals: {groups: groups} %>
    </div>
  </div>

<!--       buttons -->
  <div class="large-7 columns">
    <div class="row">
      <div class="medium-2 columns text-right hide-for-small"></div>
      <div class="medium-10 columns">
        <%= hidden_field_tag 'parent_id', parent_directory.id %>
        <ul class="button-group ">
          <li>
            <%= button_tag type: :submit, class: 'button success' do %>
              <i class="fi-check"></i> OK
            <% end %>
          </li>
          <li><a id="edit-form-close-button" class="button secondary"><i class="fi-prohibited"></i> Cancel</a></li>
          <li>
            <%= link_to @directory, method: :delete, remote: true, class: "button alert", data: {confirm: {title: "Are you sure?", body: "Delete can't be undone!", ok: "Yes", cancel: "No", modal_class: "confirm-deletion"}} do %>
              <i class="fi-x"></i> Delete
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

