<% provide(:title, "Sign in") %>

<% if ENV['TARKIN_DEMO'] %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-64290601-1', 'auto');
    ga('send', 'pageview');

  </script>
  <div class="row">
    <div class="small-12 columns tarkin-panel radius">
      <p>
        <h3 class="text-center">
          Welcome to Tarkin Team Password Manager demo. 
        </h3>
      </p>
      <p class="text-center">
        Tarking is not Just Another Password Manager. It has some unique features:
        <div class="row" data-equalizer>
          <div class="large-4 columns " data-equalizer-watch>
            <h5 class="text-center">Security</h5>
            <a href="http://tg.pl/tarkin/security_preview.png"><img src="http://www.tg.pl/tarkin/security_preview.png"/></a>
            Your passwords are save. Not even the Sysadmin or DBA can read it, as they are crypted with strong AES-256 encryption standard. 
          </div>
          <div class="large-4 columns " data-equalizer-watch>
            <h5 class="text-center">Scriptability</h5>
            <a href="http://tg.pl/tarkin/api_preview.png"><img src="http://www.tg.pl/tarkin/api_preview.png" /></a>
            You can use Tarkin API to get the passwords in your scripts. No more plain-text passwords in the scripts, and no more update of hundrets scripts after changing your password.
          </div>
          <div class="large-4 columns " data-equalizer-watch>
            <h5 class="text-center">Command-line Friendly</h5>
            <a href="http://tg.pl/tarkin/client_preview.gif"><img src="http://www.tg.pl/tarkin/client_preview.png" /></a>
            Tarkin has a command-line client - no need to open the browser to find out the password. Just type in <kbd>tarkin /db/C84PCPY/sysadm</kbd> in Shell to show your sysadm passwords. And there is a shell with <kbd>cd</kbd>, <kbd>pwd</kbd> and <kbd>cat</kbd>.
          </div>
        </div>
      </p>
      <p>
        <h4>Find out the source code and documentation on <a href=https://github.com/grych/tarkin>Github</a> and API docs <a href="http://www.tg.pl/tarkin">here</a>. The command-line client is <a href="https://github.com/grych/tarkin-client">there</a>. Contact the author: <a href="mailto:grych@tg.pl?Subject=tarkin">Tomek Gryszkiewicz</a>.</h4>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="large-2 medium-2 columns">&nbsp;</div>
    <div class="large-8 medium-8 columns">
      <div class="panel radius">
        <p>
          Feel free to test this application. You may login as an ordinary user - <kbd>user@example.com</kbd> / <kbd>password0</kbd> or as an administrator - <kbd>admin@example/com</kbd> / <kbd>password1</kbd>. Please do not change this passwords to allow others to login. And do not store any passwords here - <i>this webpage is just a demo</i>.
        </p>
      </div>
    </div>
    <div class="large-2 medium-2 columns">&nbsp;</div>
  </div>
<% end %>

<p>
  <%= form_for(:session, url: sessions_path, html: {"data-abide" => true}) do |f| %>
    <div class="row">

      <div class="large-2 medium-2 columns">&nbsp;</div>

      <div class="large-8 medium-8 columns">
        <div class="panel radius">

          <div class="row">
            <div class="medium-3 small-2 columns">
              <%= f.label :email, class: "right inline" %>
            </div>
            <div class="medium-9 small-10 columns">
              <%= f.email_field :email, placeholder: 'mail@example.com', required: true %>
              <small class="error">A valid email address is required.</small>
            </div>
          </div>
          <div class="row">
            <div class="medium-3 small-2 columns">
              <%= f.label :password, class: "right inline" %>
            </div>
            <div class="medium-9 small-10 columns">
              <%= f.password_field :password, required: true, pattern: ".{4,}" %>
            </div>
          </div>
          <div class="row">        
            <div class="medium-3 small-2 columns">
            </div>
            <div class="medium-9 small-10 columns">
              <%= f.submit "Sign in", class: "button round" %>
            </div>
          </div>

        </div>    
      </div>

      <div class="large-2 medium-2 colums">&nbsp;</div>  
    </div>
  <% end %>
</p>
