<% modal ||= false %>
<% remote = modal ? true : false %>

<%= form_for(@item, remote: remote, action: action, html: { "data-abide" => true, "data-validate" => true} ) do |f| %>
  <div class="row panel radius">
    <div class="large-7 columns white-panel radius">

      <div class="row">
        <div class="medium-2 columns text-right hide-for-small">
          <%= f.label :username, class: "right inline" %>
        </div>
        <div class="medium-10 columns">
          <%= f.text_field :username, placeholder: 'user name', required: true %>
        </div>
      </div>

      <div class="row">
        <div class="medium-2 columns text-right hide-for-small">
          <%= f.label :password, class: "right inline" %>
        </div>
        <div class="medium-10 columns">
          <%= f.text_field :password, placeholder: 'password', required: true %>
        </div>
      </div>

    </div>

    <div class="large-5 columns white-panel radius">
      <%= render partial: 'directories/groups', locals: {groups: groups} %>
    </div>
  </div>

<!--       buttons -->
  <div class="large-7 columns">
    <div class="row">
      <div class="medium-2 columns text-right hide-for-small"></div>
      <div class="medium-10 columns">
        <ul class="button-group">
          <li>
            <%= hidden_field_tag 'item[directory_id]', directory.id %>
            <%= button_tag type: :submit, class: 'button success' do %>
              <i class="fi-check"></i> OK
            <% end %>
          </li>
          <li>
            <a id="edit-form-close-button" class="button secondary"><i class="fi-prohibited"></i> Cancel</a>
          </li>
          <li>
            <%= link_to @item, method: :delete, remote: true, class: "button alert", data: {confirm: {title: "Are you sure?", body: "Delete can't be undone!", ok: "Yes", cancel: "No"}} do %>
              <i class="fi-x"></i> Delete
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

