<%= form_for @group do |f| %>
  <div class="row tarkin-panel radius">
    <div class="large-12 columns">

        <div class="row">
          <div class="large-2 medium-4 columns hide-for-small">
            <%= f.label :name, class: "right inline" %>
          </div>
          <div class="large-10 medium-8 small-12 columns">
            <%= f.text_field :name %>
          </div>
        </div>

        <div class="row">
          <div class="large-2 medium-4 columns hide-for-small">
            <%= f.label :description, class: "right inline" %>
          </div>
          <div class="large-10 medium-8 small-12 columns">
            <%= f.text_area :description, rows: 5 %>
          </div>
        </div>

        <div class="row">
          <div class="large-2 medium-4 columns hide-for-small">
            &nbsp;
          </div>
          <div class="large-10 medium-8 small-12 columns">

            <ul class="button-group ">
              <li>
                <%= button_tag type: :submit, class: 'button success' do %>
                  <i class="fi-check"></i> OK
                <% end %>
              </li>
              <li>
                <%= link_to groups_path, class: "button secondary" do %>
                  <i class="fi-prohibited"></i> Cancel</a>
                <% end %>
              </li>
              <li>
                <%= link_to @group, method: :delete, remote: false, class: "button alert", data: {confirm: {title: "Are you sure?", body: "Delete can't be undone!", ok: "Yes", cancel: "No", modal_class: "confirm-deletion"}} do %>
                  <i class="fi-x"></i> Delete
                <% end %>
              </li>
            </ul>

          </div>
        </div>

    </div>
  </div>
<% end %>
