<% if current_user %>
  <div class="contain-to-grid fixed">
    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <ul class="hide-for-small">
          <li class="has-form hide-for-small medium-4 large-6 columns">
            <%= form_tag search_path, method: :post do %>
              <input id="search" name="term" autocomplete="off" class="ui-widget" type="text" placeholder="search (use * for pattern)">
            <% end %>
          </li>
        </ul>

        <ul class="right">
          <li class="divider hide-for-small"></li>
          <span id='favorites-holder'>
            <%= render partial: 'directories/favorites' %>
          </span>
          <li class="divider hide-for-small"></li>
          <li id='edit-mode-button' data-tooltip title="Edit mode on/off" class="hide-for-small">
            <a>Enable edition</a>
          </li>
          <li class="divider hide-for-small"></li>
          <li id='user-li' class="has-dropdown">
            <a>
              <i class='fi-torso'></i> <%= current_user.name %>
            </a>
            <ul class="dropdown">
              <li class="text-right">
                <%= link_to edit_user_path(current_user), "data-no-turbolink" => true do %>
                  <i class='fi-home'></i> My profile
                <% end %>
              </li>
              <li class="text-right">
                <%= link_to edit_user_path(current_user), "data-no-turbolink" => true do %>
                  <i class='fi-key'></i> Change password
                <% end %>
              </li>
              <% if current_user.admin? %>
                <li class="text-right">
                  <%= link_to users_path, "data-no-turbolink" => true do %>
                    <i class='fi-torso'></i> Users
                  <% end %>
                </li>
                <li class="text-right">
                  <%= link_to  groups_path, "data-no-turbolink" => true  do %>
                    <i class='fi-torsos'></i> Groups
                  <% end %>
                </li>
              <% end %>
              <li class="text-right">
                <a id='about' data-reveal-id="about-modal">
                  <i class='fi-info'></i> About
                </a>
              </li>
              <li class="text-right">
                <%= link_to signout_path, method: "delete", 
                    data: {confirm: {title: "Are you sure?", body: "This will log you out.", ok: "OK", cancel: "Cancel"}} do
                 %>
                   <i class='fi-power'></i> Sign out
                  <% end %>
              </li>
            </ul>
          </li>
        </ul>


      </section>
    </nav>
  </div>
<% end %>

<% unless session[:ok_with_cookies] %>
  <div class="row">
    <div class="large-12 medium-12 columns">
      <div data-alert class="alert-box info radius">
        This website uses cookies. If you continue to use this site we assume that you are happy with this.
        When you close this box we will save this information in a cookie to ensure you'll never be bothered with this information box.
        <a href="#" class="close" id="cookies-information-close-button">&times;</a>
      </div>
    </div>
  </div>
<% end %>
