<div class="contain-to-grid fixed">
  <nav class="top-bar" data-topbar>
    <section class="top-bar-section">
      <ul class="hide-for-small">
        <li class="has-form hide-for-small medium-4 large-6 columns">
          <input id="search" autocomplete="off" class="ui-widget" type="text" placeholder="search">
        </li>
      </ul>

      <% if current_user %>
        <ul class="right">
          <li class="divider hide-for-small"></li>
          <% if @directory && current_user.favorite_directories.exists? %>
            <li id='fav-li' class="has-dropdown hide-for-small">
              <a>
                <i class="fi-heart"></i> Favorites
              </a>
              <ul class="dropdown">
                <% current_user.favorite_directories.each do |dir| %>
                  <li class="text-left">
                    <a href="<%=dir.path%>" id="fav_<%=dir.id%>">
                      <%=dir.path%>
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
          <li class="divider hide-for-small"></li>
          <li id='edit-mode-button' data-tooltip title="Edit mode on/off" class="hide-for-small">
            <a>Enable edition</a>
          </li>
          <li class="divider hide-for-small"></li>
          <li id='user-li' class="has-dropdown">
            <a>
              <i class='fi-torso'></i> <%= current_user.email %>
            </a>
            <ul class="dropdown">
              <li class="text-right">
                <%= link_to "Sign out", signout_path, method: "delete", 
                    data: {confirm: {title: "Are you sure?", body: "This will log you out.", ok: "OK", cancel: "Cancel"}}
                 %>
              </li>
            </ul>
          </li>
        </ul>

      <% end %>

    </section>
  </nav>
</div>

<% unless session[:ok_with_cookies] %>
  <div class="row">
    <div class="large-12 medium-12 columns">
      <div data-alert class="alert-box info radius">
        This website uses cookies. If you continue to use this site we assume that you are happy with this.
        When you close this box we will save this information in a cookie to ensure you'll never be bothered with this information box.
        <a href="#" class="close" id="cookies-information-close-button">&times;</a>
      </div>
    </div>
  </div>
<% end %>
