<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Secure and fast tool to share passwords between the people, with API to use it in your scripts, and with external command-line client."> 

    <title><%= full_title(yield(:title)) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag controller_name %>
    
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |key, value| %>
      <div class="row">
        <div class="large-12 medium-12 columns">
          <div data-alert class="alert-box <%= key == 'error' ? 'alert' : key %> radius">
          <%= value %>
          <a href="#" class="close">&times;</a>
        </div>  
      </div>
    <% end %>
    <%= yield %>

  </body>
</html>
